@import "tailwindcss";

:root {
  /* Font */
  --font-primary: "Inter", sans-serif;
  --font-cursive: "Satisfy", cursive;
  
  /* Base colors */
  --color-bg: #ffffff;
  --color-bg-soft: #f1f3f4;

  /* Text colors */
  --color-text-primary: #202124;
  --color-text-secondary: #5f6368;

  /* Accent & interactive */
  --color-accent: #34a853;
  --color-accent-hover: #2c8a45;
}
